.p-form__field {
  padding: 5px;
}

.p-form__label {
  padding: 2px 4px;
}

.p-form__submit input,
.p-form__submit button,
.p-form__input input,
.p-form__input select {
  line-height: 16px;
  font-size: 16px;
  padding: 10px 10px;
  height: 36px;
  box-sizing: border-box;

  color: #313131;

  outline: none;

  min-width: 200px;
  border-radius: 5px;
  border: 1px solid #c3c3c3;
  background-color: white;
}

.p-form__submit input,
.p-form__submit button {
  background-color: #c3c3c3;
  color: #313131;
  border: 1px solid #8c8c8c;
}

.p-form__submit input:active,
.p-form__submit button:active {
  background-color: #c3c3c3;
  color: #313131;
  border: 1px solid #8c8c8c;
  box-shadow: inset 0px 0px 3px #313131;
}

.p-form__input .p-form__checkbox input {
  height: 16px;
}

.p-form__errors--hidden {
  display: none;
}
