# This workflow will tag a release on github when the package.json version changes on master, and publish package to npm and github

name: Tag Release

on:
  push:
    branches:
      - master

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Release
        id: release
        uses: justincy/github-action-npm-release@2.0.2

      - uses: actions/setup-node@v2
        if: steps.release.outputs.released == 'true'
        with:
          registry-url: https://registry.npmjs.org/
      - run: npm publish
        if: steps.release.outputs.released == 'true'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - uses: actions/setup-node@v2
        if: steps.release.outputs.released == 'true'
        with:
          registry-url: https://npm.pkg.github.com/
      - run: npm publish
        if: steps.release.outputs.released == 'true'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
